<template>
	<div>
		<figure class="image is-16by9 gallery" @click.prevent="toggleActive()" v-if="!empty(activeImage)">
			<img :src="activeImagePath">
		</figure>
		<div v-else>
			<div class="has-text-centered">
				There doesn't appear to be any images submitted yet! <a href="#image">Be the first!</a>
			</div>
		</div>
		<v-touch
			@swipeleft="next"
			@swiperight="prev"
		>
			<div class="modal" :class="{'is-active': this.isActive}" v-if="!empty(activeImage)">
				<div class="modal-background"></div>
				<div class="modal-content level">
					<div class="level-left">
						<div class="level-item">
							<a @click.prevent="prev">
								<span class="icon">
									<i class="fa fa-chevron-left"></i>
								</span>
							</a>
						</div>
					</div>
					<div class="level-item">
						<figure class="image" style="max-height: 80vh; max-width: 80vw">
							<img :src="activeImagePath" style="max-height: 80vh; width: auto">
						</figure>
					</div>
					<div class="level-right">
						<div class="level-item">
							<a @click.prevent="next">
								<span class="icon">
									<i class="fa fa-chevron-right"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
				<button class="modal-close is-large" aria-label="close" @click.prevent="toggleActive()">	
				</button>
			</div>
		</v-touch>
	</div>
</template>
<script>
	export default {
		props: [
			'src',
			'pre'
		],
		data(){
			return {
				images: [],
				activeImage: {},
				isActive: false,
				index: 0
			}
		},
		computed:{
			reportPath(){
				return '/images/' + this.activeImage.id + '/report'
			},
			activeImagePath(){
				return this.pre + this.activeImage.src;
			}
		},
		methods: {
			empty(obj){
				return Object.keys(obj).length === 0;
			},
			toggleActive(){
				this.isActive = !this.isActive;
			},
			next(){
				this.index = (this.index + 1) % this.images.length;
				this.activeImage = this.images[this.index];
			},
			prev(){
				this.index = this.index-1;
				if(this.index<0){
					this.index=this.images.length-1;
				}
				this.activeImage = this.images[this.index];
			}
		},
		created(){
			axios.get(this.src)
				.then(response => {
					this.images = response.data;
					if(this.images.length){
						this.activeImage = this.images[0];
					}
				})
				.catch(error => {

				});
			
		}
	}
</script>
<style>
	
</style>