<template>
	<div>
		<a @click.prevent="setActive(true)">
			<span class="icon">
			  <i class="fa fa-exclamation-triangle"></i>
			</span>
		</a>
		<div class="modal is-active" v-show="isActive">
		  <div class="modal-background"></div>
		  <div class="modal-card" style="width: 640px">
		    <header class="modal-card-head">
		      <p class="modal-card-title">Report</p>
		      <button class="delete" aria-label="close" @click.prevent="setActive(false)" ></button>
		    </header>
		    <section class="modal-card-body">
		      <textarea class="textarea" placeholder="Please enter a brief message about why you're reporting this item" v-model="message"></textarea>
		    </section>
		    <footer class="modal-card-foot">
		      <button class="button" @click.prevent="sendReport()">Send</button>
		      <button class="button is-danger" @click.prevent="setActive(false)">Cancel</button>
		    </footer>
		  </div>
		</div>
	</div>
</template>
<script>
	export default{
		props:[
			'src'
		],
		data(){
			return{
				isActive:false,
				message:''
			}
		},
		methods:{
			setActive(bool){
				this.message="";
				this.isActive = bool;
			},
			sendReport(){
				axios.post(this.src, {
					body: this.message
				})
				.then(response => {
					this.setActive(false);
				})
				.catch(error => {
					alert("There was some error sending this report");
				});
			}
		},
		mounted(){
			
		}

	}
</script>
<style>
	
</style>