<template>
	<div v-show="isSelected">
		<slot></slot>
	</div>
</template>

<script>
export default {
	data(){
		return {
			isSelected: false
		}
	},
	props: [
		'name',
		'selected'
	],
	computed: {
		href(){
			return '#' + this.name.toLowerCase().replace(/ /g, '-');
		}
	},	
	created(){
		this.isSelected = this.selected;
	}
}
</script>