<template>
  <div style="position:relative">
     <!-- the input field -->
    <input type="text"
    	   class="input"
         :class="{'is-fullwidth': this.fullwidth}"
           placeholder="Search"
           autocomplete="off"
           v-model="query"
           @keydown.down="down"
           @keydown.up="up"
           @keydown.enter="hit"
           @keydown.esc="reset"
           @blur="reset"
           @input="update"/>

    <!-- the list -->
	<div class="dropdown is-active" v-show="hasItems" style="position:absolute;">
		<div class="dropdown-menu " id="dropdown-menu" role="menu" >
			<div class="dropdown-content">
				<a v-for="item in items" @mousedown.prevent="onHit(item)" class="dropdown-item">
					{{ item.title }}
				</a>
			</div>
		</div>
	</div>
	
  </div>
</template>

<script>
import VueTypeahead from 'vue-typeahead'

export default {
  extends: VueTypeahead, // vue@1.0.22+
  // mixins: [VueTypeahead], // vue@1.0.21-
  props:[
    'fullwidth',
  ],
  data () {
    return {
      // The source url
      // (required)
      src: '/search',

      // The data that would be sent by request
      // (optional)
      data: {},

      // Limit the number of items which is shown at the list
      // (optional)
      limit: 5,

      // The minimum character length needed before triggering
      // (optional)
      minChars: 3,

      // Highlight the first item in the list
      // (optional)
      selectFirst: false,

      // Override the default value (`q`) of query parameter name
      // Use a falsy value for RESTful query
      // (optional)
      queryParamName: 'search'
    }
  },

  methods: {
    // The callback function which is triggered when the user hits on an item
    // (required)
    onHit (item) {
    	window.location.href = '/games/'+item.id;
    },

    // The callback function which is triggered when the response data are received
    // (optional)
    prepareResponseData (data) {
      // data = ...
      return data
    }
  }
}
</script>

<style>

</style>