<template>
	
</template>
<script>
	export default{
		props:[
			'id',
			'active'
		],
		data(){
			return{
				isActive: false,
				thumbnail: '',
				embed: ''
			}
		},
		mounted(){
			this.isActive = this.active;
			axios.get('/games/videos/'+this.id)
			.then(response => {
				this.thumbnail = response.data.thumbnail;
				this.embed = 'https://www.youtube.com/embed/' + response.data.youtube_id + '?ecver=1';
			})
			.catch(error => {

			});
		}
	}
</script>
<style>
	
</style>