
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bulma/bulma";

.navbar-buger span{
	background-color:$psdb-blue;
}
.navbar-burger:hover{
	background-color:transparent;
}

.navbar-burger:hover span{
	background-color:$psdb-blue-light;
}

body{
	background-image: url('/storage/psdb_bg_cropped.png');
	background-repeat: no-repeat;
}

.total{
	width: 50px;
	height: 50px;
	display:flex;
	align-items:center;
	justify-content:center;
}

.psdb-icon{
	height: 45px;
	width: 45px;
}

.plat-icon{
	background-size: 100% 100%;
	background-image: url(/storage/plat_icon.png);
}

.gold-icon{
	background-size: 100% 100%;
	background-image: url(/storage/gold_icon.png);
}

.silver-icon{
	background-size: 100% 100%;
	background-image: url(/storage/silver_icon.png);
}

.bronze-icon{
	background-size: 100% 100%;
	background-image: url(/storage/bronze_icon.png);
}
.video-container{
	position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.profile-image{
	border-radius: 3px;
	overflow:hidden;
	background-size: 100%;
}

.video{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery{
    -webkit-filter:brightness(50%);
    -moz-filter:brightness(50%);
    filter: url(#brightness);
    filter:brightness(50%);
    border-radius: 3px;
    overflow:hidden;
}

.gallery:hover{
	-webkit-filter:brightness(100%);
    -moz-filter:brightness(100%);
    filter: url(#brightness);
    filter:brightness(100%);
    cursor:pointer;
}

.comment-wrapper{
	padding-left: 1em;
	padding-right: 1em;
}

.circle-image{
	display:inline-block;
	width: 100%; 
	height: 150px;
	border-radius: 3px;
	background-position: center;
	margin-right: 1em;
	background-repeat: no-repeat;
}

.ad-bar{
	height: 120px;
}

.card-header{
	background-color: $psdb-grey-dark;
}

.card-header-title {
	color: $white-ter;
}

.light-box{
	background-color:$white-bis;
}

.button{
	color: $white-bis;
}

.trophy-row > td{
	vertical-align: middle;
}

.trophy-icon{
	width: 40px;
	height: 40px;
}

.has-trophy{
	background-color: $psdb-gold;
}